*{
  padding:0px;
  margin: 0px;
}

#wrap{
width: 980px; height: 1080px;
margin: 0 auto;
}


  body{
    background-color: darkgray;
  }


  header{
    width: 150px; height:1080px;
    position:absolute;
    background-color: #4c4c4c;
    display: block;
  }
  #button1 , #button2 , #button3 {
    position: relative;
    top: 20px;
    margin: auto;
    margin-top: 10px;
    position: relative;
    width: 130px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border: 1px solid;
    border-radius:20px;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
  }
  #login{
    font-size: 14px;
    border: solid 1px gray;
    background-color: darkgray;
    color: white;
    padding: 3px;
    margin-top: 5px;
    margin-right: 3%;
    float: right;
  }
  contents{
    width: 680px;
    background-color: white;
    position: relative;
    left: 100px;
    display: block;
    margin: 0 auto;
  }
      #box0{
          width: 100%;
          height: 40px;
          background-color: darkgray;
        }
        footer{
                width: 680px; height: 150px;
                background-color: darkgray;
                position: relative;
                left: 100px;
                margin-top: 10px;
                text-align: center;
                padding-top: 30px;
                margin: 0 auto;

              }
a:link { color: black; text-decoration: none;}
a:visited {color: black; text-decoration: none;}
#logo{
  top: 20px; left: 8px;
  position: relative;
}
li {
  display: inline;
}
